version: "3"
services:
  frontend:
    build:
      context: .
      dockerfile: ./Docker/frontend/Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./:/app
    command: sh -c "cd frontend/ && yarn serve"
  backend:
    build:
      context: .
      dockerfile: ./Docker/backend/Dockerfile
    volumes:
      - ./uploads:/app/uploads
      - ./:/app
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/backend/google-credentials.json
      - FLASK_APP=/app/backend/app.py
    command: flask run --host=0.0.0.0
  db:
    image: mongo:4.4
    restart: always
    environment:
      MONGO_INITDB_DATABASE: files
    ports:
      - "27017:27017"
